// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom Styles
body {
    background-color: #F9F7F7;
    color: #393E46;
}

.bg-primary-custom {
    background-color: #DBD0C0 !important;
}

.bg-secondary-custom {
    background-color: #FAEAB1 !important;
}

.text-accent {
    color: #E5BA73 !important;
}

.btn-primary-custom {
    background-color: #DBD0C0;
    border-color: #DBD0C0;
    color: #393E46;
    &:hover {
        background-color: #c9bcac;
        border-color: #c9bcac;
        color: #393E46;
    }
}
